Magic 271485
Revision Verdi_W-2024.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1440 705 164 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / -i 1 "" "/home/patata0717/ic_contest/IC_contest/ASIC_flow/B_ICC2024_preliminary_grad_cell-based/ver1/sim/Bicubic_ver1.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 357.691700 7070.000000
cursor 3442.33046005004
marker 0.000000

; visible top row signal index
top 0
; marker line index
markerPos 18

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/patata0717/ic_contest/IC_contest/ASIC_flow/B_ICC2024_preliminary_grad_cell-based/ver1/sim/Bicubic_ver1.fsdb"
addSignal -h 15 /test_Bicubic/clk
addSignal -h 15 -holdScope done
addSignal -h 15 -UNSIGNED -HEX /test_Bicubic/u_Bicubic/state[2:0]
addSignal -expanded -h 15 -holdScope X[0:3]
addSignal -h 15 -UNSIGNED -HEX -holdScope X[0][7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope X[1][7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope X[2][7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope X[3][7:0]
addSignal -expanded -h 15 -holdScope P[0:3]
addSignal -h 15 -UNSIGNED -HEX -holdScope P[0][7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope P[1][7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope P[2][7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope P[3][7:0]
addSignal -expanded -h 15 -holdScope XC[0:3]
addSignal -h 15 -UNSIGNED -HEX -holdScope XC[0][12:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope XC[1][12:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope XC[2][12:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope XC[3][12:0]
addSignal -h 15 -UNSIGNED -HEX /test_Bicubic/out_val[7:0]
addSignal -h 15 -holdScope rst
addSignal -h 15 -UNSIGNED -HEX /test_Bicubic/u_Bicubic/XC[0][10:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope XC[1][10:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope XC[2][10:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope XC[3][10:0]
addGroup "G2"
addSignal -h 15 -2COMP -HEX /test_Bicubic/u_Bicubic/XC_sum0[13:0]
addSignal -h 15 -2COMP -HEX -holdScope XC_sum0_round_shift[12:0]
addSignal -h 15 -2COMP -HEX -holdScope XC_sum1[13:0]
addSignal -h 15 -2COMP -HEX -holdScope XC_sum1_round_shift[12:0]
addSignal -h 15 -2COMP -HEX -holdScope XC_sum2[13:0]
addSignal -h 15 -2COMP -HEX -holdScope XC_sum2_round_shift[12:0]
addSignal -h 15 -2COMP -HEX -holdScope XC_sum3[13:0]
addSignal -h 15 -2COMP -HEX -holdScope XC_sum3_round_shift[12:0]
addSignal -h 15 -2COMP -HEX -holdScope XC0P0_prod[18:0]
addSignal -h 15 -2COMP -HEX -holdScope XC1P1_prod[18:0]
addSignal -h 15 -2COMP -HEX -holdScope XC2P2_prod[18:0]
addSignal -h 15 -2COMP -HEX -holdScope XC3P3_prod[18:0]
addSignal -h 15 -2COMP -HEX -holdScope XCP_sum[20:0]
addSignal -h 15 -2COMP -HEX -holdScope XCP_sum_round_shift[12:0]
addSignal -h 15 -2COMP -HEX -holdScope XC0_prod0[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC0_prod1[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC0_prod2[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC0_prod3[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC1_prod0[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC1_prod1[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC1_prod2[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC1_prod3[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC2_prod0[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC2_prod1[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC2_prod2[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC2_prod3[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC3_prod0[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC3_prod1[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC3_prod2[11:0]
addSignal -h 15 -2COMP -HEX -holdScope XC3_prod3[11:0]
addSignal -expanded -h 15 -holdScope C_col0_ROM[0:3]
addSignal -h 15 -UNSIGNED -HEX -holdScope C_col0_ROM[0][3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope C_col0_ROM[1][3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope C_col0_ROM[2][3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope C_col0_ROM[3][3:0]
addGroup "G3"
addGroup "G4"
addGroup "G5"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/patata0717/ic_contest/IC_contest/ASIC_flow/B_ICC2024_preliminary_grad_cell-based/ver1/sim/Bicubic_ver1.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/test_Bicubic"
"/test_Bicubic/u_Bicubic"

SCOPE_LIST_BEGIN
"/test_Bicubic"
"/test_Bicubic/u_Bicubic"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


